body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #00B7FF;
}


div.tooltip{
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 6px;
    pointer-events: none;
}
